@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// app global css in SCSS form
* {
    font-family: "Montserrat", sans-serif;
}

.bg-grad-1 {
    background: #44A08D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.w100{
    width: 100%;
}

.relative {
    position: relative;
}

.opacity-8{
    opacity: 0.6;
}