@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// app global css in SCSS form
* {
    font-family: "Montserrat", sans-serif;
}

html {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.bg-grad-1 {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.bg-grad-2 {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #682edc, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #682edc, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.w100{
    width: 100%;
}
.w80{
    width: 80%;

}
.relative {
    position: relative;
}

.opacity-8{
    opacity: 0.6;
}

.bg-white {
    background-color: #efefef!important;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgb(60, 7, 131); 
    cursor: grab;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3f117c94; 
  }

  .hline{
    height: 2px;
    opacity: 0.5;
  }

  .mid-opacity{
    opacity: 0.5;
  }

th{
    font-weight: bold!important;
    font-size: 1rem!important;
}

.h12 {
  height: 12px;
}